<launch>
<!-- load robot model and publish it static tf states -->
  <include file="$(find vedu_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="telegium"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


</launch>